<li>
  <%= gravatar_for user, size: Settings.user.avatar_size %>
  <%= link_to user.name, user %>
  <% if current_user.is_admin? && !user.is_user?(current_user) %>
    | <%= link_to t(".delete"), user, method: :delete, data: {confirm: t(".sure")} %>
  <% end %>
</li>
